In [1]:
import pandas as pd

## Reading Data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb  Unnamed: 6
0  100.321837         0   66          0           0              1         NaN
1  101.849429         1   39          0           0              1         NaN
2   99.568490         1   16          0          -1              0         NaN
3  101.251960         0   83          0           1              0         NaN
4  101.096905         1   42          0           0              0         NaN

In [4]:
df.tail()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb,Unnamed: 6
2994,101.978550,1,82,1,0,1,NaN
2995,100.094467,1,46,1,1,0,NaN
2996,101.178858,0,46,0,0,1,NaN
2997,101.610800,1,62,0,1,1,NaN
2998,100.310585,0,14,1,-1,0,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2999 non-null   float64
 1   bodyPain       2999 non-null   int64
 2   age            2999 non-null   int64
 3   runnyNose      2999 non-null   int64
 4   diffBreath     2999 non-null   int64
 5   infectionProb  2999 non-null   int64
 6   Unnamed: 6     0 non-null      float64
dtypes: float64(2), int64(5)
memory usage: 164.1 KB

In [6]:
df['diffBreath'].value_counts()

diffBreath
 0    1046
 1    1012
-1     941
Name: count, dtype: int64

In [7]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb,Unnamed: 6
count,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,0.0
mean,100.007197,0.506502,50.377793,0.490163,0.023675,0.504835,NaN
std,1.150120,0.500041,29.157488,0.499987,0.806767,0.500060,NaN
min,98.002702,0.000000,1.000000,0.000000,-1.000000,0.000000,NaN
25%,99.015561,0.000000,25.000000,0.000000,-1.000000,0.000000,NaN
50%,100.000029,1.000000,51.000000,0.000000,0.000000,1.000000,NaN
75%,101.001900,1.000000,75.000000,1.000000,1.000000,1.000000,NaN
max,101.999868,1.000000,100.000000,1.000000,1.000000,1.000000,NaN

## Train Test Spliting

In [8]:
import numpy as np

In [9]:
def data_split(data,ratio):
    shuffled = np.random.permutation(len(data))
    test_data_size = int(len(data) * ratio)
    test_data = shuffled[:test_data_size]
    train_data = shuffled[test_data_size:]
    return data.iloc[train_data],data.iloc[test_data]

In [10]:
train , test = data_split(df,0.2)

In [11]:
train

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb,Unnamed: 6
377,99.007781,1,41,0,0,0,NaN
2177,100.548036,0,63,0,0,1,NaN
1474,99.294644,1,31,1,-1,0,NaN
609,99.407969,0,94,0,0,1,NaN
912,99.216621,1,14,0,-1,0,NaN
...,...,...,...,...,...,...,...
1576,101.790502,1,56,1,0,1,NaN
706,99.498851,1,77,0,-1,0,NaN
464,98.621405,1,26,0,0,0,NaN
268,101.283532,1,66,0,-1,1,NaN
1132,98.556697,1,91,0,-1,0,NaN

In [12]:
test

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb,Unnamed: 6
18,98.669126,1,28,1,0,0,NaN
565,101.163153,1,87,0,1,1,NaN
1419,101.860148,1,5,1,1,1,NaN
1571,100.905939,1,8,0,-1,1,NaN
1300,98.172243,0,88,1,0,1,NaN
...,...,...,...,...,...,...,...
2965,100.677699,0,11,0,0,0,NaN
1751,98.092872,1,8,0,0,1,NaN
2007,98.531158,1,99,0,0,1,NaN
2458,98.159938,1,5,1,-1,0,NaN
2358,99.112820,1,22,0,0,0,NaN

In [13]:
X_train = train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
X_test = test[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [14]:
Y_train = train[['infectionProb']].to_numpy().reshape(2400,)
Y_test = test[['infectionProb']].to_numpy().reshape(599,)

In [15]:
X_train

array([[ 99.00778058,   1.        ,  41.        ,   0.        ,
          0.        ],
       [100.5480362 ,   0.        ,  63.        ,   0.        ,
          0.        ],
       [ 99.2946443 ,   1.        ,  31.        ,   1.        ,
         -1.        ],
       ...,
       [ 98.62140493,   1.        ,  26.        ,   0.        ,
          0.        ],
       [101.2835322 ,   1.        ,  66.        ,   0.        ,
         -1.        ],
       [ 98.55669721,   1.        ,  91.        ,   0.        ,
         -1.        ]])

In [16]:
Y_train

array([0, 1, 0, ..., 0, 1, 0], dtype=int64)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
clf = LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression()

In [19]:
input = [100,0,21,1,-1]
infecProbability = clf.predict_proba([input])[0][1]

In [20]:
infecProbability

0.5006473747029888